@page
@model BakeryStock.Pages.Registros.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registro.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registro.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registro.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registro.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registro.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registro.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registro.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registro.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Registro?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
